body{
    margin: 0;
    padding: 10px;
}
.flexible{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 3%;
}
.half-width img
{
    width: 70%;
}
h1{
    font-size: 50px;
}
.color-orange{
    color: rgb(255, 0, 106);
    font-size: 48px;
}
.button-type{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 30px;
    color: white;

}
.border{
font-weight: bolder;
border-left: 5px solid;
border-color: tomato;
padding-left: 10px;

}
.middle-font{
    font-weight: bolder;
    text-align: center;
}
.color{
    color: tomato;
}
.mission-div{
    width: 35%;
    margin-right: 4px;
    margin-left: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    color: #080808;
    text-align: justify;
}
#mission{
    background-color: rgba(191, 212, 226, 0.747);
}
.mission-pic{
    width: 30%;
}
#vision{
    background-color: wheat;
}
#goals{
    background-color:rgb(241, 196, 196);
}